@media screen and (max-width: 768px) {
    html {
        font-size: 4vw;
    }
    .header {
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: rgba(97, 92, 92, 0.7);
    }
    .header__content{
    }
    
    .header__menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .header__logo a{
        outline: none;
    }
    .header__logo img{
        width: 2rem;
        height: 2rem;
    }
    .heder__menu__list {
    }
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu__item {
        font-size: 2rem;
        display: flex;
    }
    .menu__item a{
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        font-family: Cormorant Infant, sans-serif;
        font-weight: 300;
        font-size: normal;
        outline: none;
    }
    .menu__item:nth-last-child(n+2){
        margin-right: 2rem;
    }
    .header__socialnet {
    }
    .header__socialnet__list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .socialnet__item:nth-last-child(n+2){
        margin-right: 1rem;
    }
    .socialnet__item img{
        width: 1.5rem;
    }
    
    /* main */
    
    /* block1 */
    
    .block1 {
        height: 40rem;
        width: 100%;
        background-image: url(/image/8547-belyj_shokolad-sladosti-vypechka-pishha-karamelnyj-1920x1080.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        border-top: 1px solid;
        border-bottom: 1px;
    }
    .block1__bg {
        position: absolute;
        background: rgba(22, 22, 22, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .block1__content {
       margin-top: 15rem;
       position: relative;
       text-align: center;
       overflow: hidden;
    }
    
    .block1__text span {
        color: white;
        font-size: 1.2rem;
        font-family: Cormorant Infant, sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .block1__text h1{
        margin-top: 4rem;
        color: white;
        font-family: Cormorant Infant, sans-serif;
        font-size: 3.5rem;
        font-weight: 300;
        font-style: normal;
    }
    .block1__order {
        color: white;
        margin-top: 9rem;
        font-family: Cormorant Infant, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        font-style: normal;
        text-decoration: none;
    }
    .block1__order a {
        color: white;
        text-decoration: none;
        outline: none;
    }
    .block1__order:hover {
        transform: scale(1.2);
        transition: 0.3s;
        display: inline-block;
    }
    
    /* block2 */
    
    .block2 {
        position: relative;
        margin-top: 5rem;
        margin-bottom: 5rem;
        min-height: 30rem;
    }
    .block2__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    ._container {
    }
    .block2__picture {
        max-width: 20rem;
        max-height: 30rem;
    }
    .block2__picture img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .block2__text {
        min-height: 30rem;
    }
    .head__text {
    
    }
    .head__text h2 {
    }
    .head__text p {
    }
    .line {
    }
    .text {
    }
    .text1 {
    }
    .text2 {
    }
    .block7__info{
        display: flex;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center; 
    }
    .form__block2 {
        margin-top: 2rem;
    }
    .form__item2 {
        margin-top: 1rem;
    }
    .form__item2__bottom {
        margin: 1rem 0;
    }
    .footer__block1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .footer__main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer__socialnet{
        margin-top: 0.5rem;
    }
    .footer {
        position: relative;
        min-height: 11rem;
        background-color: #5547478a;
        border-top: 1px solid transparent;
    }
    .footer__copiright {
        margin-top: 1.2rem;
    }
}