html{
    font-size: 20px;
}

@font-face {
    font-family: Cormorant Infant;
    src: url(../fonts/CormorantInfant-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Cormorant Infant;
    src: url(../fonts/CormorantInfant-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}



/* _container */

._container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* header */

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(97, 92, 92, 0.7);
}
.header__content{
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.header__logo a{
    outline: none;
}
.header__logo img{
    width: 2rem;
    height: 2rem;
}
.heder__menu__list {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    font-size: 2rem;
    display: flex;
}
.menu__item a{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-family: Cormorant Infant, sans-serif;
    font-weight: 300;
    font-size: normal;
    outline: none;
}
.menu__item:nth-last-child(n+2){
    margin-right: 2rem;
}
.header__socialnet {
}
.header__socialnet__list {
    display: flex;
    flex-wrap: wrap;
}

.socialnet__item:nth-last-child(n+2){
    margin-right: 1rem;
}
.socialnet__item img{
    width: 1.5rem;
}

/* main */



