html{
    font-size: 1.2vw;
}

@font-face {
    font-family: Cormorant Infant;
    src: url(../fonts/CormorantInfant-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Cormorant Infant;
    src: url(../fonts/CormorantInfant-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

/* _container */
._container {
    max-width: 45rem;
    margin: 0 auto;
}

/* header */
.header {
    position: relative;
}
.header__container {
    position: fixed;
    background-color: rgba(97, 92, 92, 0.7);
    height: 3.5rem;
    width: 100%;
    z-index: 1;
}

.header__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6rem;
    width: 100%;
}

.header__logo {
    width: 2rem;
    height: 2rem;
}
.header__logo a {
    width: 100%;
    height: 100%;
}

.header__menu {
}

.header__menu ul {
    display: flex;
}

.menu__list li {
}
.list__item:nth-last-child(n+2){
    margin-right: 1rem;
}
.list__item a {
    text-decoration: none;
    color: white;
    font-family: Cormorant Infant,sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    outline: none;
}
.header__socialnet {

}

.header__socialnet ul{
    display: flex;

}

.socialnet__list {

}

.socialnet__item:nth-last-child(n+2) {
    margin-right: 1rem;
}
.socialnet__item {
    width: 1.5rem;
}
.socialnet__item a{
    width: 100%;
    height: 100%;
    outline: none;
}

/* main */

.main__block1 {
    min-height:  40rem;
    background-image: url(/image/8547-belyj_shokolad-sladosti-vypechka-pishha-karamelnyj-1920x1080.jpg);
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
}

.block1__bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(22, 22, 22, 0.5);
}

.block1__container{
    
}

.block1__content {
    position: absolute;
    text-align: center;
    margin-top: 14rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.block1__text{
    color: white;
}

.block1__text span{
    font-family: Cormorant Infant,sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
}

.block1__text h1{
    padding-top: 2.5rem;
    font-family: Cormorant Infant,sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
}

.block1__order {
    margin-top: 11.5rem;
    text-align: center;
}
.block1__order a {
    color: white;
    text-decoration: none;
    font-family: Cormorant Infant,sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
    display: inline-block;
}

.block1__order a:hover {
    transition: 0.4s;
    transform: scale(1.3);
}

